body {
	background-color: rgb(0, 0, 0);
	background-image: url("images/current.png");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: black;
	font-family: Coperplate, fantasy;
	/* font-family: Helvetica, Verdana, Arial, sans-serif */
	max-width: 960px;
	margin: auto;
}

#wrapper {
	background-color: rgba(0, 0, 0, 0.701);
	height: 100%;
	text-align: center;
	display: inline-block;
}
#header {
	text-align: center;
	padding: 1em;
}

#middle {
	display: inline-block;
}

h1 { 
	color: white;
}

#dnd {
	background-image: url('images/dadmom.png');
}

#resume {
	background-image: url('images/resume.png');
}

#artwork {
	background-image: url('images/toz-thumb.jpeg');
}

.blockcontainer {
	margin: auto;
	display: inline-block;
}

#middle .linkblock {
	background-size: cover;
	width: 300;
	height: 200;
	background-color: gray;
	float: left;
	margin-top: 0.5em;
	margin-right: 0.5em;
	margin-left: 0.5em;
	margin-bottom: 0.5em;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.caption {
	margin-top: auto;
	margin-bottom: 3em;
	padding: 0.5em;
	background-color: rgba(0, 0, 0, 0.659);
	color: white
}

a:link {
	text-decoration: none;
}