body {
	background-color: black;
	background-image: url("current.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: white;
	font-family: "Coperplate", fantasy;
}

h1 { 
	color: white;
}

